In [5]:
import pandas as pd
import numpy as np

# Criação de um dataframe de teste com valores nulos para usar de exemplo

df_cidades = pd.DataFrame({
    'nome': ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    'cidade': ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})

display(df_cidades)

      nome     cidade
0      Ana  São Paulo
1    Bruno        NaN
2   Carlos   Curitiba
3  Daniele        NaN
4      Val      Belém

In [6]:
## Preenche os valores nulos com "Não informado"

df_cidades['cidade_preenchida'] = df_cidades["cidade"].fillna("Não informado")

display(df_cidades)

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém