In [9]:
import pandas as pd
import numpy as np

# Criação de um dataframe de teste com valores nulos para usar de exemplo

df_temperaturas = pd.DataFrame({
    "Dia": ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "Temperatura": [30, np.nan, np.nan, 28, 27]
})

display(df_temperaturas)

       Dia  Temperatura
0  Segunda         30.0
1    Terça          NaN
2   Quarta          NaN
3   Quinta         28.0
4    Sexta         27.0

In [10]:
## Preenche os valores nulos com o método forward fill (ffill)
### Preenche valores nulos com o último valor não nulo anterior

df_temperaturas["preenchido_ffill"] = df_temperaturas["Temperatura"].ffill()

display(df_temperaturas)

       Dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [11]:
## Preenche os valores nulos com o método backward fill (bfill)
### Preenche os valores nulos com o próximo valor não nulo

df_temperaturas["preenchido_bfill"] = df_temperaturas["Temperatura"].bfill()

display(df_temperaturas)

       Dia  Temperatura  preenchido_ffill  preenchido_bfill
0  Segunda         30.0              30.0              30.0
1    Terça          NaN              30.0              28.0
2   Quarta          NaN              30.0              28.0
3   Quinta         28.0              28.0              28.0
4    Sexta         27.0              27.0              27.0